.header {
  color: #ffffff;
  display: flex;
  justify-content: flex-end;
}

.information {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.information > .btn_close {
  border: none;
  color: #ffffff;
  background-color: transparent;
  cursor: pointer;
}

.btn_burger {
  padding: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.aside {
  position: fixed;
  right: -100%;
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 20px;
  transition: all ease-out 500ms;
  box-shadow: -10px 0 10px 1px rgb(55, 63, 103);
  z-index: 102;
}

.aside.mobile {
  background-color: rgb(19, 27, 56);
  right: 0;
}

.nav > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav_link {
  text-decoration: none;
  color: #ffffff;
}

.nav_link:hover,
.sign_in:hover,
.btn_close:hover,
.btn_burger:hover {
  opacity: 0.7;
  transition: all ease-out 500ms;
}

.sign_in {
  border: none;
  background-color: transparent;
  color: white;
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  margin-top: auto;
}

@media (min-width: 760px) {
  .btn_burger {
    display: none;
  }
  .aside {
    position: static;
    width: 100%;
    height: auto;
    justify-content: space-between;
    flex-direction: row;
    box-shadow: none;
    padding: 20px;
  }
  .nav > ul {
    flex-direction: row;
  }
}
